<footer class="bg-dark text-white text-center py-3 mt-4">
        <div class="container">
            <p>&copy; 2025 Carlos fernando jimenez Malagon. Todos los derechos reservados.</p>
            <div class="social-icons mt-3">
                <a href="https://www.facebook.com/tupagina" target="_blank" aria-label="icono de Facebook">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="https://www.instagram.com/tuperfil" target="_blank" aria-label="icono de Instagram">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
                <a href="https://twitter.com/tuperfil" target="_blank" aria-label="icono de X Twitter">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
                <a href="https://discord.gg/tuinvitacion" target="_blank" aria-label="icono de Discord">
                    <i class="fa-brands fa-discord"></i>
                </a>
            </div>
        </div>
    </footer>
